<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="adminlayout">
<body>
<section layout:fragment="content">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel" layout:fragment="content">
                <div class="x_title">
                    <h2>Result <small>for all users</small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <p class="text-muted font-13 m-b-30">
                      Navigate to group and run unit test on exam.
                    </p>
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead>
                        <tr>
                            <th>Student</th>
                            <th>Comment</th>
                            <th>Points</th>
                            <th>Checked</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="group : ${list}">
                            <tr>
                            <td th:text="${group.student}"></td>
                            <td th:text="${group.comment}"></td>
                                <th:block>
                            <td th:with="percent=${#numbers.formatDecimal(group.points/groupExam.points*100,2,2)}">
                                <div class="progress progress_sm">
                                    <div class="progress-bar bg-green" role="progressbar" th:attr="data-transitiongoal=${percent}"></div>
                                </div>
                                <small th:text="${percent}+'% '">57% Complete</small>

                            </td>
                        </th:block>
                            <td th:text="${group.checked}"></td>
                            <td></td>
                        </tr>
                            <tr>
                                <td colspan="5">
                                    <th:block th:each="ex : ${group.examExerciseList}">
                                        <span th:text="${ex.exercise.name} "/> (
                                        <span th:text="${ex.points}"/> /
                                        <span th:text="${ex.exercise.maxPoint}"/>)
                                    </th:block>
                                </td>
                            </tr>
                            </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

</body>
</html>